
/* navber.module.css */
  
.appBar {
  position: fixed;
  top: 0; 
  z-index: 1000;
  /* background-color: white !important; */
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(var(--callout-rgb), 1) !important;
  border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.5) !important;
}

.logo {
  /* margin-right: 10px; */
  /* height: 3vh; */
  width: 22vw;
}

.colorOnline {
  color: var(--primary-color);
}

.MuiBadge-colorPrimary.css-106c1u2-MuiBadge-badge {
  background-color: #fc541b !important; /* Your desired color */
}


.colorShop {
  color: #000;
  font-style: italic;
  font-weight: bold;
}

.iconContainer {
  position: 'absolute';
  display: 'flex';
  flex-direction: 'row';
  width: '100vw';
  align-items: 'center';
  justify-content: 'flex-end';
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 15px;
}

.iconLinkStock {  
  padding-right: 5px;
}

.iconLinkCheckout {  
  padding-left: 5px;
  padding-right: 5px;
}

.iconLinkUser {
  padding-left: 5px;
}

@media (min-width: 768px) { 
  .logo { 
    width: 8vw;
  }
}
