.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  padding-top: 6rem;
  /* padding-right: 3rem; */
  min-height: 100vh;  
  background-color: rgba(var(--callout-rgb), 0.5);
}
 
/* Media query for larger screens */
@media (min-width: 768px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    padding-left: 3rem;
    padding-right: 3rem;
    min-height: 100vh;  
    background-color: rgba(var(--callout-rgb), 0.5);
  }
}
